<!DOCTYPE html>
<html>
<head><meta charset="utf-8"></head>
<body>
  <h1>Password Reset Request</h1>
  <p>Hi {{firstName}},</p>
  <p>You requested a password reset. Click the link below to reset your password:</p>
  <p><a href="{{resetUrl}}">Reset Password</a></p>
  <p>This link will expire in {{expiryTime}}.</p>
  <p>If you didn't request this, please ignore this email.</p>
</body>
</html>
