<!DOCTYPE html>
<html>
<head><meta charset="utf-8"></head>
<body>
  <h1>Welcome to ShopSphere, {{firstName}}!</h1>
  <p>Thank you for creating an account with us.</p>
  <p>Start shopping now: <a href="{{shopUrl}}">Visit ShopSphere</a></p>
  <p>Or <a href="{{loginUrl}}">log in to your account</a>.</p>
</body>
</html>
